/* nav style */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
/* sheare style */
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
body {
  font-family: "Open Sans", sans-serif;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  padding: 18px 35px;
}
.text-primary {
  color: #fd6e0a;
}

.nav-tittle {
  color: var(--Dark-01, #181818);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 45px;
  font-weight: 800;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 51px;
}
nav > ul > li > a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

/* header related style */
.header {
  background-color: #fff8f3;
  background-image: url(images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
}
.banner-content {
  max-width: 750px;
}
.banner .profile {
  width: 550px;
}
.banner-gread {
  color: #474747;
  font-size: 45px;
  margin-bottom: 0px;
}
.banner-heading {
  color: #181818;
  font-size: 85px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-description {
  font-size: 18px;
  margin-bottom: 30px;
}
.banner .devo {
  width: 100px;
}

/* main style */
main {
  max-width: 1140px;
  margin: 0px auto;
}
/* about style */

.about {
  padding: 230px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0px 50px 130px;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.about-info-contain {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.about-info{
  text-align: center;
}
